.logo {
    color: #ffff;
    font-size: 28px;
    font-weight: 700;
    width: 175px;
    height: 50px;
    background: url(NBELogo.jpg);
    display: inline-block;
    cursor: pointer;
}

.side {
    display: inline-block;
    background: #ff8f18;
    padding: 12px;
    margin-right: 20px;
}

.tool_list {
    list-style: none;
    font-weight: 700;
    font-size: x-small;
    padding: 0;
    line-height: 2;
    text-align: center;
    
}

.tool {
    cursor: pointer;
    font-weight: 800;
    background: white;
    margin: 3px;
    padding: 2px;
    color: #00653d;
    text-align:center;
    border-radius: 4px;
    display: grid;
}

    .tool:hover {
        color: white;
        background-color: #00653d;
        transition-duration: 0.2s;
    }

.note-text {
    font-size: small;
}

.link_line{
    display: grid;
    justify-content:center; 
}

.ad{
    /*  TODO: center the links, Style them*/
}

.top{
  background: white;
  display: block;
  height: 100px;
  margin: 0 0 50px 0;
  padding: 15px 15px 0 15px;
  position: relative;
  box-sizing: content-box;
  box-shadow: 2px 3px 14px black;
}

.login-box {
    background-color: white;
    padding: 15px;
    color: #00653d;
    box-shadow: 2px 3px 14px black;
    display: inline-flex;
    flex-grow: 0.8;
}

.nav{
  display: inline-flex;
}


.tab {
    clear: both;
    background-color: #f5bc00;
    color: #00653d;
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

    .tab:active {
        clear: both;
        color: #f5bc00;
        background-color: #00653d;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

.btn_green {
    display: inline-block;
    margin: 10px auto;
    clear: both;
    color: white;
    background-color: #00653d;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

select{
  display: block;
  float: left;
  clear: left;
  position: absolute;
  right: 25px;
}

html{
    padding: 0 60px;
    box-sizing: border-box;
    margin: 0;
    background: #00653d;
    color: #00653d;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #00653d;
    color: #00653d;
    font-family: sans-serif;
}

footer{
    padding: 15px;
    color: #ffc800;
}
